*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 13px;
  /* font-family: 'Rubik', sans-serif; */
}
.topbar_design {
    background: transparent linear-gradient(267deg, #00AEEF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
.topbar_design_01 .input-group {
    width: 310px;
}
.topbar_design_01 .form-control:focus {
    box-shadow: none;
}
.topbar_design_01 .ms-n5 {
    margin-left: -40px;
}
.topbar_design_03 .dropdown-toggle {
    font-weight: 600;
}
.topbar_design_03 span {
    margin-left: -20px;
}
.topbar_design_03 .dropdown-menu{
    border-radius: 15px;
    width: 220px;
    top: 10px !important;
    padding: 0;
    border: 0;
    box-shadow: 0px 3px 15px #00000029;
}
.topbar_design_03 .dropdown-menu li {
    padding: 1rem;
    border-bottom: 1px solid #d5d5d5;
}
.topbar_design_03 .dropdown-menu li a {
    font-size: 14px;
}
.topbar_design_03 .dropdown-menu .background {
    background: #EFFBFF 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 0px 0px;
}
.topbar_design_03 .dropdown-menu .background img {
    width: 65%;
    margin: 0 auto;
    display: block;
}
.topbar_design_03 .dropdown-menu li:last-child {
    border-bottom: 0;
}
.topbar_design_03 .dropdown-menu .edit {
    right: 10px;
    top: 10px;
    font-size: 17px;
}
.topbar_design_03 .dropdown-menu li.logout {
    border-radius: 0px 0px 15px 15px;
    background: #00AEEF 0% 0% no-repeat padding-box;
}


/* Super Admin Navbar */
.super_admin .brand_name {
    display: none;
    font-weight: 600;
    font-size: 20px;
    color: #142d61;
}
.super_admin .navbar-nav {
    width: 100%;
}
.super_admin .nav-link {
    font-weight: 600;
}
.super_admin .nav-link:hover {
    color: #00AEEF !important;
}
.super_admin .nav-link .nav_img {
    margin: 0 auto;
    height: 40px;
    width: 40px;
}
.super_admin .nav-link:after {
    display: none;
}
.super_admin .dropdown-menu {
    width: 100%;
    height: 450px;
    padding: 15px;
    border: 0;
    box-shadow: 0px 3px 15px #00000029;
    left: 0;
    overflow-y: auto;
}
.super_admin .nav-item:hover .nested_menu {
    display: block;
 }
.nested_menu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .nested_menu::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  .nested_menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  .nested_menu::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  .nested_menu::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
 .super_admin .cmplt_menu .col {
    border-right: 1px solid #d5d5d5;
}
.super_admin .cmplt_menu .col:last-child {
    border-right: 0;
}
.super_admin .cmplt_menu .title {
    font-size: 14px;
    font-weight: 600;
}
.super_admin .cmplt_menu .title i {
    margin-left: 2px;
    color: #bfbfbf;
}
.super_admin .cmplt_menu ul li a {
    font-size: 14px;
    color: #6F6F6F;
    text-decoration: none;
}
.super_admin .cmplt_menu ul li:hover a {
    color: #00AEEF;
}
.super_admin .cmplt_menu .common_column:first-child {
    margin-top: 0px;
}
.super_admin .cmplt_menu .common_column {
    margin-top: 15px;
}

/* Other Admin Navbar */
.other_admin .brand_name {
    display: none;
    font-weight: 600;
    font-size: 20px;
    color: #142d61;
}
.other_admin .navbar-nav {
    width: 100%;
}
.other_admin .nav-link {
    font-weight: 600;
}
.other_admin .nav-link:hover {
    color: #00AEEF !important;
}
.other_admin .nav-link .nav_img {
    margin: 0 auto;
    height: 40px;
    width: 40px;
}
.other_admin .nav-link:after {
    display: none;
}
.other_admin .dropdown-menu {
    padding: 0px;
    border: 0;
    box-shadow: 0px 3px 15px #00000029;
    width: 220px;
    /* margin-top: 9px; */
}
.other_admin .navbar-nav li:hover > .dropdown-menu {
    display: block;
}
.other_admin .dropdown-submenu {
    position:relative;
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid #d5d5d5;
    transition: 0.5s;
}
.other_admin .dropdown-submenu .dropdown-toggle {
    font-weight: 600;
    font-size: 14px;
}
.other_admin .dropdown-submenu:hover {
    background: #00AEEF;
}
.other_admin .dropdown-submenu:hover .dropdown-toggle {
    color: #fff !important;
}
.other_admin .dropdown-submenu:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
    font-size: 20px;
}
.other_admin .dropdown-submenu:hover:after {
    opacity: 1;
    right: 10px;
    color: #fff;
}
.other_admin .dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:0px;
}
.other_admin .dropdown-submenu>.dropdown-menu.child-menu li {
    padding: 7px 10px 0px 10px;
    font-size: 13px;
    line-height: 22px;
}
.other_admin .dropdown-submenu>.dropdown-menu.child-menu li>a:hover{
    color: #00AEEF !important;
}
.other_admin .dropdown-menu > li > a:after {
    display: none;
} 
.other_admin .navbar-nav .nav-item:nth-last-child(-n+2) .child-menu {
    left: inherit;
    right: 100%;
}
.other_admin .dropdown-menu[data-bs-popper] {
    left: auto;
}
.footer_link {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 12px #00000029; */
}
.footer_link ul li {
    font-size: 14px;
}
.footer_link ul li a {
    border-right: 1px solid #545454;
    padding-right: 10px;
}
.footer_link ul li a:hover {
    color:#00AEEF !important
}
.footer_link ul li:last-child a {
    border-right: 0;
}
.footer_link ul li i {
    margin-right: 10px;
} 
.footer_link .time_date ul {
    font-weight: 600;
    color: #0a2056;
}
.footer_bottom {
    background: #091E55 0% 0% no-repeat padding-box;
}
.footer_bottom i {
    margin-right: 10px;
}
.footer_bottom li {
    font-size: 14px;
}
.message_box {
    z-index: 9999;
    position: fixed;
    right: 20px;
    bottom: 0px;
    border: 0;
    width: 20rem;
    border-radius: 15px 15px 0px 0px;
}
.message_box .card-header {
    background: #5A5A5A 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 0px 0px;
}
.message_box .fa-times {
    font-size: 17px;
    cursor: pointer;
}
.message_box .card-body {
    height: 350px;
    overflow-y: auto;
}
.message_box .card-body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .message_box .card-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  .message_box .card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  .message_box .card-body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  .message_box .card-body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
.message_box .message_list  {
    margin-bottom: 20px;
}
.message_box .message_list p {
    background: #d5d5d5;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 0;
}
.message_box .message_list ul {
    margin-top: 5px;
}
.message_box .message_list ul li {
    color: #686868;
    font-size: 11px;
}
#menu_icon {
    display: none;
}


/* Login Page */
.bg-img{
    width: 60%;
} 
.login-wrap  {
    width: 40%;
}
.bg-img {
    background-image:url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 604px;

}
.login-wrap .tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 5px;
    border-radius: 99px;
    width: 365px;
    margin-bottom: 35px;
  }
  .login-wrap .tabs * {
    z-index: 2;
    width: 25px;
    margin-right: 6px;
  }
  
  .login-wrap input[type=radio] {
    display: none;
  }
  
  .login-wrap .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 175px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  

  .login-wrap input[type=radio]:checked + label {
    color: #185ee0;
  }
  .login-wrap input[type=radio]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
  }
  
  .login-wrap input[id=radio-1]:checked ~ .glider {
    transform: translateX(0);
  }
  
  .login-wrap input[id=radio-2]:checked ~ .glider {
    transform: translateX(100%);
  }
  
  .login-wrap input[id=radio-3]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  .login-wrap .glider {
    position: absolute;
    display: flex;
    height: 40px;
    width: 175px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  
  @media (max-width: 700px) {
    .login-wrap  .tabs {
      transform: scale(0.6);
    }
  }
.login-wrap h4 {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 600;
}
.login-wrap .form-control:focus {
    box-shadow: none;
}
.button-group .btn{
    padding: 10px 40px;
    margin-right: 15px;
}
.button-group .btn:first-child {
    background: #2e384d;
    border: 0;
}
.button-group .btn:last-child {
    background: #d9d9d9;
    border: 0;
    color: #000;
}
.refresh_captcha p {
    font-size: 12px;
}
.forgot_password a {
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 0px; /* Height of navbar */
      bottom: 0;
      z-index: 9999 ;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }
  }



@media screen and (max-width:1199px) {
    .other_admin .navbar-nav li:last-child > .dropdown-menu {
        right: 30px;
    }
    .bg-img {
        width: 50%;
    }
    .login-wrap {
        width: 50%;
    }
    .bg-img {
        background-size: 100% 100%;
        min-height: auto;
    }
    .login-wrap .tabs {
        width: 100%;
    }
    .login-wrap .tab {
        width: 100%;
    }
    .login-wrap .glider {
        width: 49%;
    }
}
@media screen and (max-width:991px) {
    .topbar_design_01 .input-group {
        width: 100%;
    }
    .super_admin .brand_name {
        display: block;
    }
    .other_admin .brand_name {
        display: block;
    }
    .super_admin .navbar-nav{
        margin-top: 20px;
    }
    .super_admin .navbar-nav .nav-item {
        margin-bottom: 20px;
    }
    .super_admin .navbar-nav .nav-item .nav-link {
        color: #fff !important;
        text-align: center;
        font-size: 16px;
    }
    #menu_icon {
        display: block;
        color: #fff;
        font-size: 20px;
        text-align: right;
        margin-right: -15px;
    }
    #menu_icon i {
        background: #02afef;
        padding: 10px;
    }
    .super_admin .cmplt_menu .col {
        flex: 1 0 50%;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 10px;
    }
    .footer_link .left_link {
        margin-bottom: 15px;
    }
    .footer_link .left_link ul li a {
        border: 0;
    }
    .footer_link .time_date ul li {
        font-size: 20px;
    }
    .footer_bottom li {
        font-size: 18px;
        line-height: 37px;
    }
    .other_admin .navbar-nav{
        margin-top: 20px;
    }
    .other_admin .navbar-nav .nav-item {
        margin-bottom: 20px;
    }
    .other_admin .navbar-nav .nav-item .nav-link {
        color: #fff !important;
        text-align: center;
        font-size: 16px;
    }
    .other_admin .dropdown-menu {
        width: 100%;
    }
    .bg-img {
        width: 100%;
    }
    .login-wrap {
        width: 100%;
    }
    .bg-img {
        background-size: 100% 100%;
        min-height: 350px;
    }
    
}
@media screen and (max-width:767px) {
    .footer_link .left_link ul li {
        font-size: 20px;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer_link .left_link ul li:last-child{
        border: 0;
    }
}
@media screen and (max-width:479px) {
    .super_admin .cmplt_menu .col {
        flex: 1 0 100%;
        margin-bottom: 10px;
    }
}

